<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="1b1t-open-server" Language="2052" Version="$(var.Version)" Codepage="65001"
           Manufacturer="1b1t" UpgradeCode="9A6A87F8-CF4A-4F8D-9C31-1B1B1B1B1B1B">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" Description="Minecraft 一键开服工具" />
    <MediaTemplate EmbedCab="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLDIR" Name="1b1t" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="PROGDIR" Name="1b1t" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
    <Feature Id="Main" Title="1b1t 一键开服" Level="1" Description="Minecraft 一键开服工具 (图形+命令行)">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="StartMenu" />
      <ComponentGroupRef Id="Desktop" />
    </Feature>
    <CustomAction Id="SetPath" Property="cmd.exe" ExeCommand='/c call "[INSTALLDIR]setpath.bat"' Execute="deferred" Impersonate="yes" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="SetPath" After="InstallFiles">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="clicomp" Guid="*">
        <File Id="cli" Source="1b1t.exe" KeyPath="yes" />
      </Component>
      <Component Id="guicomp" Guid="*">
        <File Id="gui" Source="1b1t-gui.exe" KeyPath="yes" />
      </Component>
      <Component Id="batcomp" Guid="*">
        <File Id="setpathbat" Source="setpath.bat" KeyPath="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AppFiles">
      <ComponentRef Id="clicomp" />
      <ComponentRef Id="guicomp" />
      <ComponentRef Id="batcomp" />
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="PROGDIR">
      <Component Id="startcomp" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\1b1t" Name="startmenu" Type="string" Value="1" KeyPath="yes" />
        <Shortcut Id="SC1" Name="1b1t 开服工具" Target="[INSTALLDIR]1b1t-gui.exe" WorkingDirectory="INSTALLDIR" Description="Minecraft 一键开服工具 (图形版)" />
        <RemoveFolder Id="rf1" On="uninstall" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="StartMenu">
      <ComponentRef Id="startcomp" />
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="deskcomp" Guid="*">
        <RegistryValue Root="HKCU" Key="Software\1b1t" Name="desktop" Type="string" Value="1" KeyPath="yes" />
        <Shortcut Id="SC2" Name="1b1t 开服工具" Target="[INSTALLDIR]1b1t-gui.exe" WorkingDirectory="INSTALLDIR" Description="Minecraft 一键开服工具 (图形版)" />
        <RemoveFolder Id="rf2" On="uninstall" />
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="Desktop">
      <ComponentRef Id="deskcomp" />
    </ComponentGroup>
  </Fragment>
</Wix>
